{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <style>
        /* 通用样式 */
        .contents {
            margin: 0 auto;
            padding-top: 40px;
        }

        .grid_wrapper {
            margin: 0 auto;
            width: 80%; /* 宽度设为80%，使其适应页面 */
        }

        .all4 {
            background-color: #ffffff; /* 白色背景 */
            border-radius: 5px; /* 圆角 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
            padding: 20px; /* 内边距 */
        }

        .layui-form-item {
            display: flex; /* 使用flex布局 */
            justify-content: space-between; /* 左右分布 */
        }

        .layui-input-block {
            flex: 1; /* 输入框等宽度 */
            margin-left: 10px; /* 左边距 */
        }

        .btn {
            width: 100%; /* 按钮全宽 */
        }

        .layui-btn {
            background-color: rgba(28, 119, 180, 0.8); /* 按钮背景色 */
            border: none; /* 去掉边框 */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="children-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="/index">主页</a></li>
                <li class="breadcrumb-item active" aria-current="page">修改密码</li>
            </ol>
        </nav>
        <div class="grid_wrapper">
            <div class="g_6 contents_header">
                <h3 class="i_16_forms tab_label">修改密码</h3>
                <div><span class="label">edit password</span></div>
            </div>
            <div class="all4" id="all4">
                <div id="changePassword">
                    <form class="layui-form" method="post" id="changePassword_form" onsubmit="return false">
                        <div class="layui-form-item">
                            <label class="layui-form-label">新&nbsp;&nbsp;密&nbsp;&nbsp;码:</label>
                            <div class="layui-input-inline">
                                <input id="newPassword" type="password" name="changePassword" placeholder="请输入新密码"
                                       autocomplete="off"
                                       class="layui-input"
                                       lay-verify="first" lay-verType="tips">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">再次输入:</label>
                            <div class="layui-input-inline">
                                <input id="checkPassword" type="password" name="checkPassword"
                                       placeholder="请再次输入新密码"
                                       autocomplete="off"
                                       class="layui-input"
                                       lay-verify="check" lay-verType="tips">
                            </div>
                        </div>
                        <div class="layui-form-item btn">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="change">确定</button>
                                <button class="layui-btn" lay-submit="" id="cancelChange" lay-filter="cancelChange">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use(['element', 'form', 'layer'], function () {
            let form = layui.form;
            let layer = layui.layer;

            form.on('submit(change)', function (data) {
                // 验证两次密码是否相同
                if (data.field.checkPassword !== data.field.changePassword) {
                    layer.msg("两次密码输入不相同，请检查")
                } else {
                    $.ajax({
                        url: '/user/change_password',
                        method: 'post',
                        data: data.field,
                        success: function (result) {
                            if (result.msg === "success") {
                                layer.msg("密码修改成功")
                                // 清空表单
                                $("#changePassword_form")[0].reset()
                                form.render()
                                // 跳转到登陆界面
                                setTimeout(() => {
                                    window.location.href = '/'
                                }, 1000)
                            }
                        },
                        error: function (err) {
                            if (err.status === 406) {
                                layer.msg(err.responseJSON.data)
                            }
                        }
                    })
                }
                return false; // 阻止默认提交
            });

            form.verify({
                first: function (value, item) {
                    if (value === '') {
                        return '请输入新密码'
                    }
                },
                check: function (value, item) {
                    if (value === '') {
                        return '请再次输入新密码'
                    }
                }
            });
        });
    </script>
{% endblock %}
